{% extends "base.html" %}

{% block content %}
  <h1>
    Todo list
    <a href="{% url 'tasks:task-create' %}" class="btn btn-primary link-to-page">
      Add task
    </a>
  </h1>
 
  {% if task_list %}
      {% for task in task_list %}
        <hr>
        <p>
          {{ task.content }}
          {% if task.done is False %}
            <div style="color: red">Not done</div>
          {% else %}
            <div style="color: green">Done</div>
          {% endif %}
        {% if task.done %}
          <form action="{% url 'tasks:toggle-implementation' pk=task.id %}" method="post">
          {% csrf_token %}
          <button class="btn btn-secondary link-to-page" type="submit">
            Undo
          </button>
          </form>
        {% else %}
          <form action="{% url 'tasks:toggle-implementation' pk=task.id %}" method="post">
          {% csrf_token %}
          <button class="btn btn-success link-to-page" type="submit">
            Complete
          </button>
          </form>
        {% endif %}
        </p>
        <p>
          Created at {{ task.datetime }}
          {% if task.deadline %}
            <div style="color: darkred">Deadline {{ task.deadline }}</div>
          {% endif %}
        </p>
        <p>
          Tags 
          {% for tag in task.tags.all %}
            {{ tag.name }}
          {% endfor %}
          <a href="{% url 'tasks:task-update' pk=task.id %}">Update</a>
          <a href="{% url 'tasks:task-delete' pk=task.id %}">Delete</a>
        </p>
      {% endfor %}
  {% else %}
    <p>There are no tasks</p>
  {% endif %}
{% endblock %}
